@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background-color: #83652d;
}

.calculadora {
    background-color: #4e4e4e;
    width: 360px;
    height: 560px;

    display: flex;
    flex-direction: column;
    margin: 1rem;
    border-radius: 0.5rem;
}

.visor {
    height: 160px;
    width: 360px;
    display: flex;
}

.visor textarea {
    height: 80%;
    width: 90%;
    display: block;
    margin: auto;
    background-color: #bcd4b3;
    border: none;
    border-top: 3px solid #979797;
    border-left: 3px solid #979797;
    text-align: right;
    font-family: 'JetBrains Mono', monospace;
    font-size: 1.125rem;
}

.entrada {
    height: 80px;
    width: 360px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    display: flex;

}

.entrada input {
    height: 70%;
    width: 90%;
    display: block;
    margin: auto;
    outline: none;
    font-family: 'JetBrains Mono', monospace;
    font-size: 1.125rem;
}

.teclado {
    width: 360px;
    height: calc(100% - 160px - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linha {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.linha:first-child {
    margin-top: 0.875rem;
}

.linha:last-child {
    margin-bottom: 0.875rem;
}

button {
    height: 3.25rem;
    width: 23%;

    background-color: #bfbfbf;
    outline: none;
    border: 1px solid black;

    border-radius: 8px;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    background-color: #959595;
    transition: 0.25s;
}

.operacao {
    background-color: #e75757;
    color: white;
}

.operacao:hover {
    background-color: #ad3c3c;
}

.calcular {
    background-color: #00b91f;
    color: white;
}

.calcular:hover {
    background-color: #11a029;
}

.soma, .subtracao, .igual {
    font-size: 1.375rem;
}